{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {attr:{class:'form-control', placeholder:"Enter title"}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.tags) }}
        {{ form_widget(form.tags, {attr: {class : 'form-control multy-select2',  placeholder:"Select tags"}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description,  {attr:{class:'form-control ckeditor', placeholder:"Enter description"}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.status) }}
        {{ form_widget(form.status, {attr:{class:'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}
{% block additional_javascripts %}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('.ckeditor').ckeditor();
        });
    </script>
{% endblock %}
